.team-card {
  height: 100%;
  padding: 40px 35px;
  border: $border;
  border-radius: $border-radius-large;
  box-shadow: $shadow;

  @include mobile {
    padding-inline: 30px;
  }

  &__header {
    display: flex;
  }

  &__image {
    margin-right: 20px;
  }

  &__info {
    align-self: end;
    margin-right: 10px;
  }

  &__link {
    @include flex-center;
    @include square(34px);

    flex-shrink: 0;
    align-self: start;
    margin-left: auto;
    color: $color-accent;
    background-color: $color-dark;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 3px;
  }

  &__body {
    margin-top: 28px;
    padding-top: 28px;
    border-top: $border;

    @include tablet {
      margin-top: 20px;
      padding-top: 20px;
    }
  }
}
